@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Khula:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
  color: #959ca0; }

body {
  color: #2e2e2e;
  font-size: 16px;
  font-family: "Khula", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  line-height: 1.3; }
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #2e2e2e; }
/*
h1, h2, h3 {
  margin-bottom: 0.75rem; }
*/
h4, h5, h6 {
  margin-bottom: 0.5625rem; }

h1 {
  font-size: 2.5rem;
  line-height: 1.2; }
  @media screen and (max-width: 30rem) {
    h1 {
      font-size: 2.3125rem;
      line-height: 1.1; } }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.55rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: .02em; }

p {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.25; }

ul, ol {
  font-size: .9rem;
  margin-bottom: 1.125rem;
  color: #2e2e2e; }

.component-header {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  padding: 0.5rem 1.25rem 0.5rem 0;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #dbdbdb;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; }

.component-header--search {
  text-transform: none;
  font-weight: normal; }

.link-external {
  position: relative; }
  .link-external .icon-link-external {
    position: relative;
    top: -0.625rem;
    left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    color: #9f0830; }

img,
object,
video {
  display: block;
  max-width: 100%; }

ol,
ul {
  padding: 0;
  margin-top: 0;
  margin-left: 3.75rem;
  margin-bottom: 1.875rem; }
  ol li,
  ul li {
    margin-bottom: 0.625rem; }

ul ul,
ol ul,
ol ol,
ul ol {
  margin-top: 0.625rem; }

a,
a:link,
a:hover,
a:focus {
  color: #9f0830;
  font-weight: 700;
  text-decoration: none; }

hr {
  border-bottom: 1px solid #dbdbdb;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: -1px 0 0 0;
  box-sizing: content-box; }

table {
  background: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 1.875rem;
  table-layout: auto; }

table caption {
  background: transparent;
  color: #2e2e2e;
  font-size: 1.125rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5625rem; }

table tr.odd,
table tr.alt,
table tbody tr:nth-of-type(odd),
table thead ~ tbody tr:nth-of-type(even) {
  background: #f4f5f8; }

table thead tr th,
table tr th {
  width: 25%; }
  table thead tr th p,
  table tr th p {
    margin-bottom: 0; }

table thead,
table thead tr:first-child,
table tfoot tr:first-child,
table tbody tr:first-child {
  background: #7EB8D5; }

table thead tr th,
table thead tr td,
table tfoot tr td,
table tbody tr:first-child th,
table tbody tr:first-child td {
  color: #fff;
  font-size: 1.125rem;
  padding: 1.25rem; }
  table thead tr th p,
  table thead tr td p,
  table tfoot tr td p,
  table tbody tr:first-child th p,
  table tbody tr:first-child td p {
    margin-bottom: 0; }

table tfoot tr td {
  padding: 0.625rem 1.25rem; }

table thead ~ tbody tr:first-child {
  background: #fff; }

table thead ~ tbody tr:first-child th,
table thead ~ tbody tr:first-child td {
  color: #2e2e2e; }

table tr th,
table tr td {
  color: #2e2e2e;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  text-align: left;
  vertical-align: top; }

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
  display: table-cell;
  line-height: 1.45; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border: 1px solid #BDBDBD;
  box-shadow: inset 0 1px 3px #E0E0E0;
  border-radius: 2px;
  vertical-align: middle;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 0.8125rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #9E9E9E; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /*text-indent: -9999px;*/ }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  /*zoom: 1;*/ }

.label {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 0.625rem;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  text-transform: uppercase;
  color: #9E9E9E;
  background: #EEEEEE;
  border: 1px solid #dbdbdb; }

.g-outer-container {
  width: 100%; }

.g-content-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.g-content-container::after {
  clear: both;
  content: "";
  display: table;
}
.g-row {
  display: block;
  margin-bottom: 1.875rem;
}
.g-row::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 64rem) {
  .g-row {
    margin: 0 1.25rem 1.875rem;
  }
}

.g-omega {
  margin-right: 0; }

.g-primary {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 70.045045045%;
  padding: 0 2.7027027027% 0 0; }
  .g-primary:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75rem) {
    .g-primary {
      float: left;
      display: block;
      margin-right: 4.1095890411%;
      width: 100%;
      padding: 0;
      margin-right: 0;
      margin-bottom: 1.25rem; }
      .g-primary:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 30rem) {
    .g-primary {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 100%;
      margin-bottom: 1.25rem; }
      .g-primary:last-child {
        margin-right: 0; } }

.g-secondary {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 27.2522522523%; }
  .g-secondary:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75rem) {
    .g-secondary {
      float: left;
      display: block;
      margin-right: 4.1095890411%;
      width: 100%;
      margin-left: 0%; }
      .g-secondary:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 30rem) {
    .g-secondary {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 100%; }
      .g-secondary:last-child {
        margin-right: 0; } }

.l-full {
  width: 100%; }

.l-pull-left {
  float: left;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem; }

.l-pull-right {
  float: right;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem; }

.l-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.l-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0; }

.masthead {
  border-top: 3px solid #9f0830;
  background-color: #fff; }

.masthead__top,
.masthead__bottom {
  width: 100%; }

.masthead__top {
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto; }
  .masthead__top::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64rem) {
    .masthead__top {
      padding: 0 1.25rem; } }
  @media screen and (max-width: 560px) {
    .masthead__top {
      margin-bottom: 0.625rem;
      padding: 0; } }

.masthead__logo {
  float: left;
  width: 42%;
}
@media screen and (max-width: 560px) {
  .masthead__logo {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.masthead__logo a {
  display: inline-block;
  padding: 0.75rem 0.1875rem;
}
  @media screen and (max-width: 560px) {
    .masthead__logo a {
      padding: 0.75rem 0.625rem 0 0.625rem;
      margin-bottom: 0.625rem;
      width: 100%; }
  }
.masthead__logo svg {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3.125rem;
  width: 21.875rem; }
  @media screen and (max-width: 48rem) {
    .masthead__logo svg {
      width: 18.75rem; } }
  @media screen and (max-width: 560px) {
    .masthead__logo svg {
      width: 100%; } }

.masthead__utility {
  float: right;
  width: 50%;
  position: relative; }
  @media screen and (max-width: 43.75rem) {
    .masthead__utility {
      width: 40%; } }
  @media screen and (max-width: 560px) {
    .masthead__utility {
      float: none;
      display: block;
      width: 100%;
      top: 0;
      text-align: center; } }
  .masthead__utility .masthead__link-back {
    display: inline-block;
    float: right;
    position: relative;
    padding: 0.1875rem 0.75rem;
    margin-bottom: 0.8125rem;
    font-family: "Khula", sans-serif;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
    background: #9f0830;
    text-transform: uppercase; }
    .masthead__utility .masthead__link-back .icon-arrow-right {
      color: #fff;
      height: 1rem;
      width: 1rem; }
    @media screen and (max-width: 560px) {
      .masthead__utility .masthead__link-back {
        float: none;
        display: block;
        width: 100%;
        padding: 0.625rem;
        margin-bottom: 0.75rem; } }

.masthead__search {
  position: relative;
  clear: both;
  float: right;
  width: 65%; }
  @media screen and (max-width: 48rem) {
    .masthead__search {
      width: 85%; } }
  @media screen and (max-width: 43.75rem) {
    .masthead__search {
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .masthead__search {
      width: 85%; } }
  @media screen and (max-width: 560px) {
    .masthead__search {
      float: none;
      width: 70%;
      margin: 0 auto;
      text-align: center; } }
  .masthead__search button, .masthead__search input {
    display: inline-block; }
  .masthead__search button, .masthead__search svg {
    vertical-align: inherit;
    height: 1rem;
    width: 1rem; }
  .masthead__search button {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    right: 6px;
    border: none;
    background: transparent;
    cursor: pointer; }
  .masthead__search .masthead__search-input {
    float: left;
    padding: 0.5rem 1.875rem 0.5rem 0.875rem;
    color: #2e2e2e;
    line-height: 14px;
    height: 1.875rem;
    width: 100%;
    background-color: #f4f5f8;
    box-shadow: none;
    border: none; }
    @media screen and (max-width: 30rem) {
      .masthead__search .masthead__search-input {
        float: none; } }

.masthead__bottom {
  background: #f4f5f8; }

.masthead__container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .masthead__container::after {
    clear: both;
    content: "";
    display: table; }

.masthead__nav {
  width: 100%; }
  .masthead__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
  .masthead__nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .masthead__nav li a {
      padding: 0.9375rem 0.625rem;
      border-bottom: 3px solid transparent;
      display: block;
      color: #2e2e2e;
      font-size: 0.875rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.046875rem;
      background: transparent;
      -webkit-transition: background 0.15s linear 0s, border 0.15s linear 0s, color 0.18s linear 0s;
      -moz-transition: background 0.15s linear 0s, border 0.15s linear 0s, color 0.18s linear 0s;
      transition: background 0.15s linear 0s, border 0.15s linear 0s, color 0.18s linear 0s; }
      @media screen and (max-width: 735px) {
        .masthead__nav li a {
          padding: 0.625rem 0;
          font-size: 0.75rem;
          line-height: 1rem; } }
      .masthead__nav li a.active, .masthead__nav li a:hover {
        border-bottom: 3px solid #9f0830;
        background: #fff;
        color: #9f0830; }
  @media screen and (max-width: 600px) {
    .masthead__nav {
      font-size: 0.8125rem; }
      .masthead__nav ul {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }

.footer {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f4f5f8; }

.footer__container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding: 1.875rem 0; }
  .footer__container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64rem) {
    .footer__container {
      padding: 1.875rem 1.25rem; } }
  @media screen and (max-width: 600px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }

.footer__links,
.footer__contact,
.footer__social {
  margin-bottom: 1.5rem; }
  @media screen and (max-width: 43.75rem) {
    .footer__links,
    .footer__contact,
    .footer__social {
      -webkit-flex-basis: 200px;
      -moz-flex-basis: 200px;
      flex-basis: 200px;
      -ms-flex-preferred-size: 200px; } }
  .footer__links h4,
  .footer__links ul,
  .footer__contact h4,
  .footer__contact ul,
  .footer__social h4,
  .footer__social ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer__links h4,
  .footer__contact h4,
  .footer__social h4 {
    font-size: 0.9375rem; }
  .footer__links ul,
  .footer__contact ul,
  .footer__social ul {
    font-size: 1rem;
    line-height: 1.25rem; }
  .footer__links li,
  .footer__contact li,
  .footer__social li {
    margin-bottom: 0.5rem; }
  .footer__links a,
  .footer__contact a,
  .footer__social a {
    display: inline-block;
    font-size: 0.875rem; }

.footer__links {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-flex-basis: 25%;
  -moz-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%; }

.footer__contact {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-right: 1.25rem; }
  .footer__contact li {
    margin-bottom: 0.75rem; }

.footer__social {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  position: relative;
  top: -1.375rem;
  padding-right: 0;
  padding: 1.25rem;
  background: #fafbfc;
  max-width: 600px; }
  .footer__social a {
    display: inline-block;
    vertical-align: middle; }
    @media screen and (max-width: 43.75rem) {
      .footer__social a span {
        display: inline-block;
        max-width: 80%;
        vertical-align: top; } }
    @media screen and (max-width: 600px) {
      .footer__social a span {
        max-width: none;
        vertical-align: middle; } }
  .footer__social .icon {
    margin-right: 0.375rem; }

@media screen and (max-width: 600px) {
  .footer__links li {
    display: inline-block;
    min-width: 30%; } }
@media screen and (max-width: 30rem) {
  .footer__links li {
    width: 49%; } }

.footer__container--educause {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  padding: 1.25rem 1.25rem 1.875rem;
  background: #ebecf2; }
  .footer__container--educause::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 30rem) {
    .footer__container--educause {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }

.footer__educause-logo {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  margin: 0 1.25rem 1.25rem 0;
  display: block; }
  .footer__educause-logo a {
    display: inline-block; }
  @media screen and (max-width: 48rem) {
    .footer__educause-logo {
      margin-right: 0.75rem; } }
  @media screen and (max-width: 43.75rem) {
    .footer__educause-logo {
      text-align: center; } }
  @media screen and (max-width: 30rem) {
    .footer__educause-logo {
      margin-right: 0; } }

.footer__educause-links {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-flex-basis: 280px;
  -moz-flex-basis: 280px;
  flex-basis: 280px;
  -ms-flex-preferred-size: 280px; }
  @media screen and (max-width: 48rem) {
    .footer__educause-links {
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      flex-basis: 25%;
      -ms-flex-preferred-size: 25%; } }
  @media screen and (max-width: 43.75rem) {
    .footer__educause-links {
      -webkit-flex-basis: 15%;
      -moz-flex-basis: 15%;
      flex-basis: 15%;
      -ms-flex-preferred-size: 15%; } }
  @media screen and (max-width: 600px) {
    .footer__educause-links {
      text-align: center; } }
  .footer__educause-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.25rem; }
  .footer__educause-links li {
    display: inline-block;
    min-width: 9.375rem;
    margin-right: 1.25rem;
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 43.75rem) {
      .footer__educause-links li {
        margin-right: 0.5rem; } }
    @media screen and (max-width: 30rem) {
      .footer__educause-links li {
        margin-right: 0; } }
    .footer__educause-links li a {
      display: block;
      color: #2e2e2e;
      font-weight: 400; }

.footer__educause-copyright {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4;
  font-size: 0.9375rem; }
  @media screen and (max-width: 48rem) {
    .footer__educause-copyright {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      text-align: center; } }

.ad-unit {
  position: relative; }
  .ad-unit + .ad-unit, .ad-unit + .quick-links, .ad-unit + .article-aside__component {
    margin-top: 1.25rem; }
  .ad-unit.first {
    margin-top: 2.1875rem; }

.ad-unit--banner {
  margin: 1.25rem auto 0;
  max-width: 45.5rem;
  width: 100%; }

.ad-unit--square {
  height: 15.625rem;
  max-width: 18.75rem;
  width: 100%; }
  @media screen and (max-width: 48rem) {
    .ad-unit--square {
      float: left;
      margin-right: 0.9375rem; }
      .ad-unit--square + .ad-unit {
        margin-right: 0; } }
  @media screen and (max-width: 30rem) {
    .ad-unit--square {
      float: none;
      margin: 0 auto; }
      .ad-unit--square + .ad-unit {
        margin-right: auto; } }

.ad-unit--tall {
  height: 37.5rem;
  max-width: 18.75rem;
  width: 100%; }
  @media screen and (max-width: 48rem) {
    .ad-unit--tall {
      margin: 0 auto; } }

.media-object__meta {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #959ca0;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 0.625rem; }
  .media-object__meta li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem; }
    .media-object__meta li:first-child {
      margin-left: 0; }
      .media-object__meta li:first-child:after {
        content: '|';
        padding-left: 0.375rem; }
    .media-object__meta li.media-object__meta-pubdate, .media-object__meta li.media-object__meta-editor {
      white-space: nowrap; }
    .media-object__meta li.media-object__meta-editor {
      margin-left: 0.375rem; }
  .media-object__meta .icon {
    margin-right: 0.1875rem;
    vertical-align: -0.3125rem; }

.media-object__img {
  position: relative;
  margin-bottom: 1.25rem; }
  .media-object__img.media-object__img--no-image {
    margin-bottom: 0; }
  .media-object__img.l-pull-right a, .media-object__img.l-pull-left a {
    margin: 0; }
  .media-object__img .icon--withimage {
    position: absolute;
    top: 0.1875rem;
    right: 0.1875rem;
    color: #fff; }
  .media-object__img .icon--noimage {
    float: right;
    margin: 0 0.1875rem 0 1.25rem; }

.media-object__body h3 {
  margin-bottom: 0.375rem; }
.media-object__body p {
  margin: 0; }
.media-object__body .icon {
  height: 1.25rem;
  width: 1.25rem; }

.media-object--nested {
  margin-top: 1.25rem;
  padding: 1.25rem 1.25rem 0 1.875rem;
  border-top: 1px dashed #e8e8e8; }
  .media-object--nested .media-object__body h3 {
    font-size: 1.125rem; }
  .media-object--nested .media-object__body p {
    font-size: 1rem; }

.btn,
a.btn {
  display: inline-block;
  padding: 0.625rem 3.125rem;
  border: 2px solid #f3ac00;
  color: #2e2e2e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.08125rem;
  background: transparent;
  -webkit-transition: background 0.15s linear 0s, color 0.18s linear 0s;
  -moz-transition: background 0.15s linear 0s, color 0.18s linear 0s;
  transition: background 0.15s linear 0s, color 0.18s linear 0s; }
  .btn:hover,
  a.btn:hover {
    background: #f3ac00;
    color: #fff; }

.btn--filled,
a.btn--filled {
  background: #fff; }

.btn--small,
a.btn--small {
  padding: 0.625rem 1.25rem; }

.hero-area-container {
  position: relative;
  margin-bottom: 1.25rem;
  background: #424242;
  min-height: 31.25rem;
  overflow: hidden;
  background: url("../images/stock_08.jpg") no-repeat;
  background-size: cover; }
  @media screen and (max-width: 48rem) {
    .hero-area-container {
      min-height: 25rem; } }

.hero-area {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 5rem;
  min-height: 31.25rem; }
  .hero-area::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 48rem) {
    .hero-area {
      padding-top: 3.125rem;
      min-height: 28.125rem; } }
  @media screen and (max-width: 30rem) {
    .hero-area {
      min-height: 25rem; } }

.hero-area__content {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 65.7657657658%;
  position: absolute;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(90% 100%, 0 100%, 0 0, 100% 0, 100% 74%);
  clip-path: polygon(90% 100%, 0 100%, 0 0, 100% 0, 100% 74%); }
  .hero-area__content:last-child {
    margin-right: 0; }
  .hero-area__content h1 {
    margin-bottom: 0.625rem; }
  .hero-area__content cite {
    display: block;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 30rem) {
      .hero-area__content cite {
        font-size: 0.9375rem; } }
  @media screen and (max-width: 64rem) {
    .hero-area__content {
      left: 1.25rem; } }
  @media screen and (max-width: 48rem) {
    .hero-area__content {
      float: left;
      display: block;
      margin-right: 3.2608695652%;
      width: 69.0217391304%;
      padding: 1.875rem; }
      .hero-area__content:last-child {
        margin-right: 0; }
      .hero-area__content h1 {
        font-size: 2rem;
        line-height: 1.1; } }
  @media screen and (max-width: 30rem) {
    .hero-area__content {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 82.4074074074%;
      padding: 1.25rem;
      -webkit-clip-path: polygon(85% 100%, 0 100%, 0 0, 100% 0, 100% 85%);
      clip-path: polygon(85% 100%, 0 100%, 0 0, 100% 0, 100% 85%); }
      .hero-area__content:last-child {
        margin-right: 0; }
      .hero-area__content h1 {
        font-size: 1.5rem; }
      .hero-area__content .btn {
        padding: 0.625rem 1.25rem; } }

.page-header {
  display: block;
  margin: 1rem 0.25rem 1rem; }
  .page-header::after {
    clear: both;
    content: "";
    display: table; }

.page-header__content {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 70.045045045%;
  padding: 0 2.7027027027% 0 0; }
  .page-header__content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 43.75rem) {
    .page-header__content {
      float: left;
      display: block;
      margin-right: 4.1095890411%;
      width: 100%;
      padding: 0;
      margin-right: 0;
      margin-bottom: 1.25rem; }
      .page-header__content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 30rem) {
    .page-header__content {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 100%;
      margin-bottom: 1.25rem; }
      .page-header__content:last-child {
        margin-right: 0; } }
  .page-header__content h2 {
    display: inline;
    margin-bottom: 0.625rem; }
  .page-header__content h4 {
    display: inline;
    float: right;
    font-weight: 400; }

.quick-links .component-header {
  margin-bottom: 0; }
.quick-links ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .quick-links ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dbdbdb; }
    .quick-links ul li:last-child {
      border-bottom: none; }
.quick-links a {
  display: block;
  padding: 1.125rem 0; }
.quick-links + .ad-unit {
  margin-top: 1.25rem; }

.content-feed .more {
  display: block;
  margin-top: 1.25rem;
  text-align: center; }

.content-feed--listing {
  list-style: none;
  margin: 0;
  padding: 0; }
  .content-feed--listing .content-feed__item {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 1.875rem 0;
    border-bottom: 1px solid #dbdbdb; }
    .content-feed--listing .content-feed__item:first-child {
      padding-top: 0; }
    .content-feed--listing .content-feed__item:last-child {
      border-bottom: 0 none; }
    .content-feed--listing .content-feed__item a {
      color: #9f0830; }
    .content-feed--listing .content-feed__item.featured {
      padding: 2.5rem 1.25rem 1.875rem;
      border-bottom: 0;
      background: #7EB8D5; }
      .content-feed--listing .content-feed__item.featured a {
        color: #fff; }
      .content-feed--listing .content-feed__item.featured .media-object--nested {
        border-top: 1px dashed rgba(255, 255, 255, 0.6); }
      .content-feed--listing .content-feed__item.featured .media-object__meta {
        color: #2e2e2e; }
      .content-feed--listing .content-feed__item.featured .icon {
        color: #2e2e2e; }
      .content-feed--listing .content-feed__item.featured h6 {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0.75rem;
        left: 1.25rem;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.03125rem; }
  .content-feed--listing .media-object__img img {
    max-height: 18.75rem;
    width: 100%; }
  @media screen and (max-width: 30rem) {
    .content-feed--listing .media-object__img {
      float: none;
      margin-left: 0; } }

.content-feed--grid {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .content-feed--grid .content-feed__item {
    float: left;
    display: block;
    margin-right: 3.9551746869%;
    width: 48.0224126566%;
    position: relative;
    margin-bottom: 1.25rem; }
    .content-feed--grid .content-feed__item:last-child {
      margin-right: 0; }
    .content-feed--grid .content-feed__item:nth-child(2n) {
      margin-right: 0; }
    .content-feed--grid .content-feed__item:nth-child(2n+1) {
      clear: left; }
    .content-feed--grid .content-feed__item .content-feed__border-link {
      display: block;
      padding: 1.25rem;
      border: 2px solid #dbdbdb;
      color: #2e2e2e;
      font-weight: 400; }
      .content-feed--grid .content-feed__item .content-feed__border-link:before, .content-feed--grid .content-feed__item .content-feed__border-link:after {
        content: " ";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 40px 40px;
        border-color: transparent transparent #fff transparent; }
      .content-feed--grid .content-feed__item .content-feed__border-link:before {
        right: 2px;
        bottom: 1px;
        border-color: transparent transparent #dbdbdb transparent; }
      .content-feed--grid .content-feed__item .content-feed__border-link:hover {
        border-color: #f3ac00; }
        .content-feed--grid .content-feed__item .content-feed__border-link:hover:before {
          border-color: transparent transparent #f3ac00 transparent; }
    .content-feed--grid .content-feed__item .media-object__img {
      margin-bottom: 0.625rem;
      max-height: 9.6875rem;
      width: 100%;
      overflow: hidden; }
    .content-feed--grid .content-feed__item .media-object__meta li {
      line-height: 1.4; }
      .content-feed--grid .content-feed__item .media-object__meta li.media-object__meta-editor {
        margin-left: -0.125rem; }
        .content-feed--grid .content-feed__item .media-object__meta li.media-object__meta-editor .icon {
          margin-right: 0.1875rem;
          vertical-align: -0.3125rem; }
    @media screen and (max-width: 43.75rem) {
      .content-feed--grid .content-feed__item {
        float: left;
        display: block;
        margin-right: 4.1095890411%;
        width: 100%; }
        .content-feed--grid .content-feed__item:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 30rem) {
      .content-feed--grid .content-feed__item {
        float: left;
        display: block;
        margin-right: 5.5555555556%;
        width: 100%; }
        .content-feed--grid .content-feed__item:last-child {
          margin-right: 0; } }

.content-feed--grid-nested {
  list-style: none;
  margin: 0;
  padding: 0; }
  .content-feed--grid-nested .content-feed__item {
    float: left;
    display: block;
    margin-right: 3.9551746869%;
    width: 48.0224126566%;
    position: relative;
    margin-bottom: 1.25rem;
    display: block;
    padding: 1.25rem;
    border: 2px solid #dbdbdb;
    color: #2e2e2e;
    font-weight: 400; }
    .content-feed--grid-nested .content-feed__item:last-child {
      margin-right: 0; }
    .content-feed--grid-nested .content-feed__item:nth-child(2n) {
      margin-right: 0; }
    .content-feed--grid-nested .content-feed__item:nth-child(2n+1) {
      clear: left; }
    .content-feed--grid-nested .content-feed__item:before, .content-feed--grid-nested .content-feed__item:after {
      content: " ";
      position: absolute;
      right: -2px;
      bottom: -2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 40px 40px;
      border-color: transparent transparent #fff transparent; }
    .content-feed--grid-nested .content-feed__item:before {
      right: 0px;
      bottom: -1px;
      border-color: transparent transparent #dbdbdb transparent; }
    .content-feed--grid-nested .content-feed__item:hover {
      border-color: #f3ac00; }
      .content-feed--grid-nested .content-feed__item:hover:before {
        border-color: transparent transparent #f3ac00 transparent; }
    @media screen and (max-width: 43.75rem) {
      .content-feed--grid-nested .content-feed__item {
        float: left;
        display: block;
        margin-right: 4.1095890411%;
        width: 100%; }
        .content-feed--grid-nested .content-feed__item:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 30rem) {
      .content-feed--grid-nested .content-feed__item {
        float: left;
        display: block;
        margin-right: 5.5555555556%;
        width: 100%; }
        .content-feed--grid-nested .content-feed__item:last-child {
          margin-right: 0; } }
  .content-feed--grid-nested .media-object--nested {
    padding: 1.25rem 0 0; }
    .content-feed--grid-nested .media-object--nested .media-object__img {
      margin-bottom: 0;
      overflow: visible; }

.content-feed--small .content-feed__item {
  padding: 0.625rem 0; }
  .content-feed--small .content-feed__item:first-child {
    padding-top: 0;
    border-top: 0 none; }
  .content-feed--small .content-feed__item h3 {
    font-size: 0.9375rem;
    line-height: 1.4; }
  .content-feed--small .content-feed__item a {
    color: #9f0830; }
.content-feed--small .media-object {
  overflow: hidden;
  zoom: 1; }
.content-feed--small .media-object__img {
  margin-bottom: 0;
  margin-right: 0.75rem; }
  .content-feed--small .media-object__img a {
    margin-bottom: 0.625rem; }
  .content-feed--small .media-object__img.l-pull-left, .content-feed--small .media-object__img.l-pull-right {
    margin-bottom: 0; }
    .content-feed--small .media-object__img.l-pull-left a, .content-feed--small .media-object__img.l-pull-right a {
      margin-bottom: 0; }
  @media screen and (max-width: 30rem) {
    .content-feed--small .media-object__img {
      float: left; } }
.content-feed--small + .ad-unit {
  margin-top: 1.25rem; }

.content-feed__load-more-controls {
  position: relative;
  text-align: center; }
  .content-feed__load-more-controls hr {
    margin: 3.125rem 0; }
  .content-feed__load-more-controls .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    outline: 10px solid #fff; }
    @media screen and (max-width: 30rem) {
      .content-feed__load-more-controls .btn {
        padding: 0.625rem 1.25rem; } }

.media-grid {
  overflow: hidden; }

@media screen and (max-width: 48rem) {
  .media-grid__featured {
    float: left;
    display: block;
    margin-right: 3.2608695652%;
    width: 100%;
    padding: 0;
    margin-bottom: 1.25rem; }
    .media-grid__featured:last-child {
      margin-right: 0; } }

.media-grid__queue {
  margin-top: -0.125rem; }
  @media screen and (max-width: 48rem) {
    .media-grid__queue {
      margin-top: 0;
      float: left;
      display: block;
      margin-right: 3.2608695652%;
      width: 100%; }
      .media-grid__queue:last-child {
        margin-right: 0; } }
  .media-grid__queue .content-feed--grid {
    list-style: none;
    margin: 0;
    padding: 0; }
    .media-grid__queue .content-feed--grid .content-feed__item {
      width: 100%;
      margin-right: 0; }
      .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n) {
        margin-right: 2.7027027027%; }
      .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n+1) {
        clear: none; }
      @media screen and (max-width: 48rem) {
        .media-grid__queue .content-feed--grid .content-feed__item {
          float: left;
          display: block;
          margin-right: 3.2608695652%;
          width: 48.3695652174%; }
          .media-grid__queue .content-feed--grid .content-feed__item:last-child {
            margin-right: 0; }
          .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n) {
            margin-right: 0; }
          .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n+1) {
            clear: left; } }
      @media screen and (max-width: 43.75rem) {
        .media-grid__queue .content-feed--grid .content-feed__item {
          width: 100%; }
          .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n) {
            margin-right: 2.7027027027%; }
          .media-grid__queue .content-feed--grid .content-feed__item:nth-child(2n+1) {
            clear: none; } }
      .media-grid__queue .content-feed--grid .content-feed__item .content-feed__border-link {
        padding: 0;
        border-color: #fff; }
        .media-grid__queue .content-feed--grid .content-feed__item .content-feed__border-link:before {
          z-index: 10;
          border-color: transparent transparent transparent; }
        .media-grid__queue .content-feed--grid .content-feed__item .content-feed__border-link:after {
          z-index: 20; }
        .media-grid__queue .content-feed--grid .content-feed__item .content-feed__border-link:hover {
          border-color: #f3ac00; }
          .media-grid__queue .content-feed--grid .content-feed__item .content-feed__border-link:hover:before {
            border-color: transparent transparent #f3ac00; }
      .media-grid__queue .content-feed--grid .content-feed__item .media-object {
        position: relative; }
      .media-grid__queue .content-feed--grid .content-feed__item .media-object__img {
        margin-bottom: 0;
        max-height: 10.6875rem; }
        @media screen and (max-width: 48rem) {
          .media-grid__queue .content-feed--grid .content-feed__item .media-object__img {
            max-height: 13.75rem;
            min-height: 13.75rem; } }
        @media screen and (max-width: 43.75rem) {
          .media-grid__queue .content-feed--grid .content-feed__item .media-object__img {
            max-height: 18.75rem;
            min-height: 18.75rem; } }
        @media screen and (max-width: 30rem) {
          .media-grid__queue .content-feed--grid .content-feed__item .media-object__img {
            max-height: 11.25rem;
            min-height: 11.25rem; } }
      .media-grid__queue .content-feed--grid .content-feed__item .media-object__body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.625rem 1.875rem 0 0.625rem;
        background: rgba(255, 255, 255, 0.7); }
      .media-grid__queue .content-feed--grid .content-feed__item h4 {
        font-size: 0.9375rem;
        line-height: 1.125rem; }

@media screen and (max-width: 64rem) {
  .article {
    margin: 0 1.25rem; } }

.article__header {
  display: block;
  margin-top: 3.75rem;
  margin-bottom: 1.875rem; }
  .article__header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 48rem) {
    .article__header {
      margin-top: 1.875rem; } }
  .article__header .icon {
    position: relative;
    top: -1px;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.125rem; }

.article__meta,
.article__tags {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9375rem; }

.article__tags li {
  display: inline-block;
  margin-right: 0.625rem;
  vertical-align: middle; }

.article__meta {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 100%;
  margin-right: 0; }
  .article__meta:last-child {
    margin-right: 0; }
  .article__meta dd {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 0.375rem;
    margin-right: 0.625rem;
    vertical-align: middle; }
    @media screen and (max-width: 30rem) {
      .article__meta dd {
        display: block; } }
  @media screen and (max-width: 30rem) {
    .article__meta {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 100%;
      margin-right: 0; }
      .article__meta:last-child {
        margin-right: 0; } }

.article__tags {
  float: left;
  display: block;
  margin-right: 2.7027027027%;
  width: 82.8828828829%; }
  .article__tags:last-child {
    margin-right: 0; }
  .article__tags li {
    margin-right: 0.1875rem; }
    .article__tags li:first-child {
      margin-right: 0.125rem; }
  @media screen and (max-width: 30rem) {
    .article__tags {
      float: left;
      display: block;
      margin-right: 5.5555555556%;
      width: 100%; }
      .article__tags:last-child {
        margin-right: 0; } }

.article__content hr {
  margin: 3.125rem 0; }

.article__column {
  padding-bottom: 3.75rem; }

.pull-quote {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 1.25rem 0 2.5rem;
  padding: 2.625rem;
  color: #565656;
  border-top: 5px solid #7EB8D5;
  border-bottom: 2px solid #7EB8D5; }
  .pull-quote p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem; }
  .pull-quote cite {
    display: block;
    width: 100%;
    color: #565656;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: right; }
  .pull-quote.l-pull-left, .pull-quote.l-pull-right {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 53.9393939394%;
    margin-top: 0.625rem; }
    .pull-quote.l-pull-left:last-child, .pull-quote.l-pull-right:last-child {
      margin-right: 0; }
    @media screen and (max-width: 30rem) {
      .pull-quote.l-pull-left, .pull-quote.l-pull-right {
        float: left;
        display: block;
        margin-right: 5.5555555556%;
        width: 100%; }
        .pull-quote.l-pull-left:last-child, .pull-quote.l-pull-right:last-child {
          margin-right: 0; } }
  .pull-quote.l-pull-left {
    left: 0;
    margin-right: 1.875rem; }
  .pull-quote.l-pull-right {
    float: right;
    margin-right: 0;
    margin-left: 1.875rem; }

.callout-panel {
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  background: #f4f5f8;
  padding: 1.75rem;
  margin: 1.25rem 0 2.5rem; }
  .callout-panel h3 {
    margin-bottom: 0.625rem; }
  .callout-panel p {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.125rem;
    font-size: 1rem;
    line-height: 1.4; }
  .callout-panel ol, .callout-panel ul {
    margin-left: 2.25rem; }
  .callout-panel.l-pull-left, .callout-panel.l-pull-right {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 53.9393939394%; }
    .callout-panel.l-pull-left:last-child, .callout-panel.l-pull-right:last-child {
      margin-right: 0; }
    @media screen and (max-width: 30rem) {
      .callout-panel.l-pull-left, .callout-panel.l-pull-right {
        float: left;
        display: block;
        margin-right: 5.5555555556%;
        width: 100%; }
        .callout-panel.l-pull-left:last-child, .callout-panel.l-pull-right:last-child {
          margin-right: 0; } }
  .callout-panel.l-pull-left {
    left: 0;
    margin-left: 0;
    margin-right: 1.875rem; }
  .callout-panel.l-pull-right {
    float: right;
    margin-right: 0;
    margin-left: 1.875rem; }

.callout-panel--pdf {
  margin: 0 0 2.5rem; }
  .callout-panel--pdf .callout-panel__content {
    position: relative;
    padding-left: 3.75rem; }
  .callout-panel--pdf .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 2.25rem;
    height: 2.25rem; }
  .callout-panel--pdf p {
    margin-bottom: 0; }

.figure-panel {
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  margin: 1.25rem 0 2.5rem; }
  .figure-panel img {
    max-height: 26.1875rem;
    width: 100%; }
  .figure-panel figcaption {
    margin-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #dbdbdb; }
    .figure-panel figcaption p {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 1.4; }
  .figure-panel.intro {
    margin: 0 0 1.25rem 0; }
  .figure-panel.l-pull-left, .figure-panel.l-pull-right {
    float: left;
    display: block;
    margin-right: 3.6363636364%;
    width: 53.9393939394%; }
    .figure-panel.l-pull-left:last-child, .figure-panel.l-pull-right:last-child {
      margin-right: 0; }
    @media screen and (max-width: 30rem) {
      .figure-panel.l-pull-left, .figure-panel.l-pull-right {
        float: left;
        display: block;
        margin-right: 5.5555555556%;
        width: 100%; }
        .figure-panel.l-pull-left:last-child, .figure-panel.l-pull-right:last-child {
          margin-right: 0; } }
    .figure-panel.l-pull-left img, .figure-panel.l-pull-right img {
      max-height: 13.4375rem; }
  .figure-panel.l-pull-left {
    left: 0;
    margin-left: 0;
    margin-right: 1.875rem; }
  .figure-panel.l-pull-right {
    float: right;
    margin-right: 0;
    margin-left: 1.875rem; }

.share {
  margin-bottom: 1.25rem; }
  .share .component-header {
    margin-bottom: 0.75rem;
    padding-top: 0; }
  .share ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .share li {
    display: inline-block;
    margin-right: 1.125rem;
    margin-bottom: 0; }
    .share li:last-child {
      margin: 0; }
    @media screen and (max-width: 64rem) {
      .share li {
        margin-right: 0.4375rem; } }
    @media screen and (max-width: 48rem) {
      .share li {
        margin-right: 0.125rem; } }
    @media screen and (max-width: 43.75rem) {
      .share li {
        margin-right: 10%; } }
    @media screen and (max-width: 30rem) {
      .share li {
        margin-right: 5%; } }
  .share a {
    display: inline-block; }
  .share .icon {
    width: 2.25rem;
    height: 2.25rem;
    -webkit-transition: opacity 0.18s linear;
    -moz-transition: opacity 0.18s linear;
    transition: opacity 0.18s linear;
    color: #969da1;
    opacity: .75; }
    @media screen and (max-width: 64rem) {
      .share .icon {
        width: 1.875rem;
        height: 1.875rem; } }
    @media screen and (max-width: 43.75rem) {
      .share .icon {
        width: 2.5rem;
        height: 2.5rem; } }
  .share a:hover .icon {
    opacity: 1; }

.search-controls {
  margin: 0 0 1.875rem; }
  .search-controls input[type="search"] {
    width: 80%;
    margin-right: 2%;
    display: inline-block; }
    @media screen and (max-width: 30rem) {
      .search-controls input[type="search"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.75rem; } }
  .search-controls .btn {
    padding: 0.3125rem 0.625rem; }
    @media screen and (max-width: 30rem) {
      .search-controls .btn {
        width: 100%; } }

.search-results {
  width: 100%;
  padding-bottom: 1.875rem; }

.search-results__listing {
  list-style: none;
  margin: 0;
  padding: 0; }

.search-results__item {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 1.25rem 8.75rem 1.875rem 0;
  border-bottom: 1px solid #dbdbdb; }
  @media screen and (max-width: 48rem) {
    .search-results__item {
      padding-right: 1.25rem; } }
  @media screen and (max-width: 43.75rem) {
    .search-results__item {
      padding-right: 0rem; } }
  .search-results__item h3 {
    list-style: none;
    margin: 0;
    padding: 0; }
  .search-results__item p {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.25rem; }

.search-results__pagination {
  position: relative;
  margin-bottom: 3.75rem; }
  .search-results__pagination ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 48rem) {
      .search-results__pagination ul {
        text-align: center; } }
  .search-results__pagination li {
    display: inline-block;
    margin-bottom: 0.625rem; }
  .search-results__pagination .btn {
    padding: 0.3125rem 0.625rem; }
    @media screen and (max-width: 48rem) {
      .search-results__pagination .btn {
        padding: 0.1875rem 0.4375rem; } }
    .search-results__pagination .btn.is-active {
      background: #F3AC00;
      color: #FFF; }
    .search-results__pagination .btn.is-disabled {
      opacity: .25;
      pointer-events: none; }
  @media screen and (max-width: 20rem) {
    .search-results__pagination .search-results__page-prev,
    .search-results__pagination .search-results__page-next {
      position: absolute;
      bottom: -3.125rem; }
    .search-results__pagination .search-results__page-prev {
      left: 0; }
    .search-results__pagination .search-results__page-next {
      right: 0; } }

.newsletter-signup {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.875rem; }
  .newsletter-signup::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64rem) {
    .newsletter-signup {
      padding: 0 1.25rem 1.875rem; } }

.newsletter-signup__panel {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 1.75rem;
  border: 2px solid #dbdbdb;
  background: none;
  overflow: hidden; }
  .newsletter-signup__panel .newsletter-signup__content {
    float: left;
    display: block;
    margin-right: 2.7027027027%;
    width: 65.7657657658%; }
    .newsletter-signup__panel .newsletter-signup__content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 48rem) {
      .newsletter-signup__panel .newsletter-signup__content {
        float: left;
        display: block;
        margin-right: 3.2608695652%;
        width: 58.6956521739%; }
        .newsletter-signup__panel .newsletter-signup__content:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 43.75rem) {
      .newsletter-signup__panel .newsletter-signup__content {
        margin-right: 0;
        float: none;
        width: 100%;
        text-align: center; } }
    .newsletter-signup__panel .newsletter-signup__content p {
      margin-bottom: 0; }
      @media screen and (max-width: 43.75rem) {
        .newsletter-signup__panel .newsletter-signup__content p {
          margin-bottom: 1.125rem; } }
  .newsletter-signup__panel .btn {
    float: right; }
    @media screen and (max-width: 43.75rem) {
      .newsletter-signup__panel .btn {
        float: none;
        width: 80%;
        display: block;
        margin: 0 auto; } }

