div.profileStepsContainer {
    width:300px;
    margin: 0 auto;
}
div.profileSteps {
    display:inline-block;
}
div.profileStep {
    position:relative;
    float:left;
    width:100px;
    height:50px;
}

div.profileStep .connect {
    position:absolute;
    top:10px;
    left:0px;
    width:100px;
    height:10px;
    background-color:#ebecf2;
    z-index:99;
}
div.profileStepOne .connect {
    position:absolute;
    left:50px;
}
div.profileStepLast .connect {
    position:absolute;
    left:-50px;
}
div.profileStep .icon {
    position:absolute;
    top:0;
    right:35px;
    width:30px;
    height:30px;
    background-color:#ebecf2;
    -webkit-border-radius:15px;
    border-radius:15px;
    color:#9f0830;
    font-size:16px;
    line-height:35px;
    text-align:center;
    z-index:100;
}
div.profileStep .info {
    position:absolute;
    top:30px;
    left:0px;
    width:100px;
    color:#000;
    font-size:11px;
    line-height:20px;
    text-align:center;
}
div.profileStepActive .icon {
    background-color:#9f0830;
	color:#fff;
}

select {
    border: 1px solid #b7b7b7;
    padding: 8px 0;
    margin: 0;
    text-indent: 7px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    color: #115976;
    width: 100%;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

#pswd_info, #confirm_info {
    position:absolute;
    width:420px;
    padding:15px;
    background:#fefefe;
    font-size:.5em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info h5, #confirm_info h5 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info ul {
  margin-bottom:0;
}

#pswd_info::before, #confirm_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

#pswd_info ul, #confirm_info ul {
	margin-left:1.5rem;
}

#pswd_info ul li, #confirm_info ul li {
	font-size:.8rem;
}

.invalid {
    color:#ec3f41;
}
.valid {
    color:#3a7d34;
}

#pswd_info, #confirm_info {
    display:none;
}

.spinner {
    background: transparent url(../images/gears.gif) no-repeat center center;
    height:200px;
    width:100%;
}

.ping-button.disabled {
    color: #9e9e9e;
    background: #f6f6f6;
}

.ping-button.disabled:hover {
    text-decoration: none;
    cursor:default;
}

.ping-buttons {
	position: static;
}