select {
    border: 1px solid #b7b7b7;
    padding: 8px 0;
    margin: 0;
    text-indent: 7px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    color: #115976;
    width: 100%;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.spinner {
    background: transparent url(../images/gears.gif) no-repeat center center;
    height:200px;
    width:100%;
}

.ping-button.disabled {
    color: #9e9e9e;
    background: #f6f6f6;
}

.ping-button.disabled:hover {
    text-decoration: none;
    cursor:default;
}

.ping-buttons {
	position: static;
}