/* RESET (Eric Meyer's Reset CSS v2.0 - http://cssreset.com) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  background: #3276a6 url("../images/background-clouds-large.png") center bottom no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  padding: 33px 0;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.mobile .ping-signin .remember-username {
  display: none;
}
body.mobile .ping-signin .ping-buttons {
  margin-top: 45px;
}
body.embedded .ping-header {
  display: none;
}

a {
  color: #136383;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input[type=text], input[type=password] {
  border: 1px solid #b7b7b7;
  padding: 8px 0;
  margin: 0;
  text-indent: 7px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: bold;
  color: #115976;
  width: 100%;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

input[disabled="disabled"] {
  color: #9e9e9e;
  background: #f6f6f6;
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
}

input[type=radio] {
  display: inline-block;
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

pre {
  border-top: 1px solid #dfdfdf;
  max-height: 95px;
  overflow: auto;
  background: #f6f6f6;
  font-size: 12px;
  line-height: 1.2;
  padding: 10px;
  margin: 0 0 16px 0;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

iframe {
  display: block;
}
iframe.ping-hidden {
  height: 0;
  width: 0;
  visibility: hidden;
}
iframe.ping-visible {
  width: 100%;
  height: 140px;
}

table.ping-tabular {
  font-size: 12px;
  color: #333;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ececec;
}
table.ping-tabular tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table.ping-tabular tr:hover {
  background: #fff5d8;
}
table.ping-tabular th, table.ping-tabular td {
  border: 1px solid #ececec;
}
table.ping-tabular th {
  font-size: 13px;
  font-weight: bold;
  font-weight: 500;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
  border-width: 1px;
  border-bottom-color: #cfcfcf;
  border-right-color: #e9e9e9;
  padding: 8px;
  text-align: left;
}
table.ping-tabular th:last-child {
  border-color: #dcdcdc;
}
table.ping-tabular td {
  padding: 8px;
}

dl dt {
  font-weight: bold;
}
dl dd {
  font-weight: 200;
  margin: 0 0 10px 0;
}

ul {
  margin: 0 0 15px 15px;
}
ul li {
  list-style-type: none;
  margin: 0 0 10px 0;
}
ul li:before {
  position: absolute;
  content: '\2022';
  color: #333;
  bottom: 1px;
  left: -10px;
}
ul.no-bullets {
  margin-left: 0;
}
ul.no-bullets li:before {
  content: '';
  bottom: 0;
  left: 0;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

.wrap {
  word-wrap: break-word;
}

.ping-messages {
  display: block;
  margin: 0 0 30px 0;
  font-size: 15px;
}
.ping-messages.ping-nopad {
  margin: 0;
}
.ping-messages > div {
  display: block;
  margin: 10px 0 0 0;
}
.ping-messages > div:first-child {
  margin: 0;
}
.ping-messages > div.ping-error {
  color: #cf4849;
}
.ping-messages > div li:last-child {
  margin: 0;
}

.ping-input-label {
  font-size: 13px;
  color: #333;
  margin: 0 0 3px 3px;
}

.ping-input-container {
  margin: 0 0 15px 0;
}
.ping-input-container ul {
  font-size: 14px;
  margin: 0 0 15px 18px;
}
.ping-input-container ul.no-bullets {
  margin-left: 0;
}
.ping-input-container li {
  position: relative;
  margin: 0 0 10px 0;
}

.ping-checkbox-container {
  color: #333;
  font-size: 13px;
}

.ping-button {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 11px 10px 9px 10px;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.ping-button.normal {
  min-width: 65px;
  border: 1px solid #399934;
  background: #4cce46;
  background: -moz-linear-gradient(top, #4cce46 0%, #40ac3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4cce46), color-stop(100%, #40ac3a));
  background: -webkit-linear-gradient(top, #4cce46 0%, #40ac3a 100%);
  background: -o-linear-gradient(top, #4cce46 0%, #40ac3a 100%);
  background: -ms-linear-gradient(top, #4cce46 0%, #40ac3a 100%);
  background: linear-gradient(to bottom, #4cce46 0%, #40ac3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cce46', endColorstr='#40ac3a',GradientType=0 );
}
.ping-button.deny {
  padding: 0;
  margin: 0 15px 0 0;
  font-weight: normal;
  color: #136383;
}
.ping-button.ping-inline {
  display: block;
  padding: 5px;
  margin: 5px 0;
  font-weight: normal;
}

.ping-container {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.ping-container.ping-large {
  max-width: 600px;
}

.ping-header {
  padding: 10px;
  background: #0c3e52;
  font-size: 16px;
  min-height: 16px;
  font-weight: bold;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.ping-header span {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}

.ping-body-container {
  padding: 20px;
  min-height: 100px;
  border-bottom: 69px solid #ececec;
}
.ping-body-container .section-title {
  font-size: 20px;
  color: #115976;
  margin: 0 0 15px 0;
}
.ping-body-container .section-title span {
  font-weight: bold;
}
.ping-body-container .section-sub-title {
  font-size: 15px;
  color: #115976;
  margin: 0 0 3px 0;
}

.ping-section {
  float: left;
}

.ping-request {
  width: 62%;
  padding: 0 3% 0 0;
  border-right: 1px solid #ececec;
}

.ping-client {
  padding: 0 0 0 3%;
  width: 31%;
}

.ping-client dl {
  margin: 20px 0;
  font-size: 14px;
}

.ping-client img {
  display: block;
  margin: 0 auto;
  max-height: 100px;
}

.ping-buttons {
  position: absolute;
  text-align: right;
  bottom: 15px;
  right: 20px;
}
.ping-buttons .ping-button {
  position: relative;
}

.ping-footer-container {
  position: relative;
}

.ping-footer {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.ping-credits {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  font-size: 0;
  color: transparent;
  background: transparent url("../images/ping-logo.40.png") no-repeat 0 1px;
  background-size: 40px 40px;
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ping-credits {
    background-image: url("../images/ping-logo.80.png");
  }
}
.ping-credits span {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 1px 1px 0;
  font-size: 12px;
  color: #919191;
}

.ping-input-link, .input-check {
  font-size: 13px;
  padding: 10px 0 0 0;
}

.ping-input-link.ping-nopad {
  padding: 0;
}
.ping-input-link.ping-pass-change {
  float: right;
  margin-top: -23px;
}

.additional {
  margin: 30px 0 20px 0;
}

.policy {
  padding: 15px;
  margin: 15px 0 30px 0;
  font-size: 13px;
  font-weight: bold;
  border: 1px dotted #b7b7b7;
}

.refresh-link {
  display: inline-block;
  padding: 5px;
}

.signout-item {
  border-top: 1px solid #ececec;
  padding: 15px;
}
.signout-item ul {
  margin-top: 5px;
  font-size: 13px;
}
.signout-item .ping-error {
  color: #cf4849;
}

.signout-sub-item {
  padding: 0 0 5px 5px;
}

.ping-alert {
  margin: 15px auto;
  text-align: center;
  font-size: 15px;
}
.ping-alert .ping-warning-icon {
  display: block;
  margin: 0 auto 30px auto;
  height: 70px;
  width: 70px;
  background: transparent url("../images/icon-alert.70.gif") no-repeat 0 1px;
  background-size: 70px 70px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ping-alert .ping-warning-icon {
    background-image: url("../images/icon-alert.140.gif");
  }
}
.ping-alert .ping-success-icon {
  display: block;
  margin: 0 auto 30px auto;
  height: 70px;
  width: 70px;
  background: transparent url("../images/icon-success.70.gif") no-repeat 0 1px;
  background-size: 70px 70px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ping-alert .ping-success-icon {
    background-image: url("../images/icon-success.140.gif");
  }
}

.ping-spinner {
  height: 50px;
  width: 50px;
  background: transparent url("../images/spinner.50.gif") no-repeat 0 1px;
  background-size: 50px 50px;
  margin: 30px auto 35px auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ping-spinner {
    background-image: url("../images/spinner.100.gif");
  }
}
.ping-spinner.ping-inline {
  display: inline-block;
  float: left;
  margin: -3px 5px 0 0;
  height: 16px;
  width: 15px;
  background-size: 15px 15px;
  background-image: url("../images/spinner.15.gif");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ping-spinner.ping-inline {
    background-image: url("../images/spinner.30.gif");
  }
}

.ping-note-text {
  margin: 20px 0 0 0;
  color: #8D8D8D;
}

.ping-text-left {
  text-align: left;
}

.ping-clr {
  clear: both;
}

@media (max-width: 480px), (max-device-width: 600px) {
  body {
    padding: 0;
  }

  input[type=text], input[type=password] {
    padding: 10px 5px;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }

  .ping-header {
    background: #2E6D99;
    font-weight: 200;
    font-size: 22px;
    padding: 15px;
  }

  .ping-container {
    max-width: 600px;
    overflow: visible;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .ping-body-container {
    border-bottom: none;
  }

  .ping-footer {
    left: 0;
    right: 0;
    bottom: -90px;
    text-align: center;
  }

  .ping-buttons {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    margin: 32px 0 0 20px;
  }
  .ping-buttons .ping-button {
    display: inline-block;
    padding: 15px 15px 12px 15px;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    border: none;
  }
  .ping-buttons .ping-button.normal {
    background: #30C437;
  }

  .ping-credits a {
    height: 65px;
    width: 65px;
    background-size: 65px 65px;
    background-image: url("../images/ping-logo.65.png");
  }
}
@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 480px) and (min-resolution: 192dpi), (max-device-width: 600px) and (min-resolution: 192dpi) {
  .ping-credits a {
    background-image: url("../images/ping-logo.130.png");
  }
}

@media (max-width: 480px), (max-device-width: 600px) {
  .ping-input-container {
    margin-bottom: 10px;
  }

  .ping-section {
    border-right: none;
    border-bottom: 1px solid #ececec;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
  }
  .ping-section.ping-request, .ping-section.ping-client {
    float: none;
    width: auto;
  }

  .ping-messages {
    font-size: 15px;
  }
  .ping-messages.ping-nopad {
    margin: 0 -20px 30px -20px;
  }
  .ping-messages > div {
    margin: 0;
    padding: 10px 0;
  }
  .ping-messages div.ping-error {
    margin: 0 -20px;
    padding: 10px 20px;
    background: #cf4849;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .ping-messages div.ping-error:last-child {
    border-bottom: none;
  }

  .ping-signin.ping-container {
    background-color: transparent;
  }
  .ping-signin .section-title, .ping-signin .ping-input-label, .ping-signin .ping-button.deny, .ping-signin .ping-pass-change {
    display: none;
  }
  .ping-signin .ping-messages {
    text-align: center;
    margin-top: -20px;
  }
  .ping-signin .ping-messages > div {
    padding: 10px;
  }
  .ping-signin .ping-messages .ping-error {
    background: #cf4849;
    color: #fff;
  }
  .ping-signin .ping-input-container {
    margin: 0 0 10px 0;
  }
  .ping-signin .ping-checkbox-container {
    color: #fff;
    margin-left: 28px;
    font-weight: 200;
  }
  .ping-signin .ping-footer-container {
    margin: 0;
  }
  .ping-signin .ping-button.normal {
    width: 100%;
    padding-right: 10px;
    padding-left: 0;
  }

  ::-webkit-input-placeholder {
    color: #b7b7b7;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #b7b7b7;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b7b7;
  }

  input:-ms-input-placeholder {
    color: #b7b7b7;
  }
}

/*# sourceMappingURL=main.css.map */
