html {
  color: #2e2e2e;
  font-size: 16px;
  font-family: "Khula", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 800;
}

h4 {
  font-weight: 800;
}

.btn,
a.btn {
  border-radius: 0px;
  padding: 0.625rem 1rem;
}

.watermark {
   color: #999;
}

.page-header {
  border-bottom: none;
  padding-bottom: none;
}
  
.wayf {
    background-color: #CCC;
    padding-bottom: 0px; 
    padding-left: auto; 
    padding-right: auto; 
    border:1px solid gray;    
    margin: 0 20px;
}

.ipd_search {                             
    -moz-box-shadow: 1px 0px 14px gray;   
    -webkit-box-shadow: 1px 0px 14px gray;    
    border-bottom: 1px solid gray;
    padding:30px;
    padding-bottom:55px;
    min-height: 30px; 
    background-color: #000000;
    filter: alpha(opacity = 70);
    background: rgba(0, 0, 0, 0.7);
    display:none;
}


.idp_search_wrapper {
    width:100%;
    max-width: 283px;  
    float: left;

}
.idp_hint_wrapper {
    width:48%;
    float: left;
    margin-left: 20px;
    
}

#idp_search_input {
    display: box;  
    width:100%;
    max-width: 283px;  
    font-size: 14px;
    color: black; 
    font-weight: bold; 
    letter-spacing: -1px;    
    padding: 4px; 
    -moz-box-shadow: 1px 0px 14px black;                   
}

#no_provider_found {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: auto;
    margin-right:auto;
    opacity: .9;
    text-align: center;    
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.top-buffer {
  margin-top: 10px;
}

.entity {
    display: block;
}

.idp_list {
    /*background: transparent url(/sites/all/themes/educause/images/section_hp/resources_feature_bg.jpg) no-repeat top left; */
    padding: 15px;
    min-height: 140px; 
    max-height: 430px; 
    overflow: auto;    
    clear:both;  
    background: rgba(255, 255, 255, 0.3);   
}

div.provider.M31b763a5c4af5f1bfbdd8036f5bb9421 {
border-color:red !important;
}
div.provider {
	box-shadow: 9px 9px 15px #888;
	-moz-box-shadow: 9px 9px 15px #888;
	-webkit-box-shadow: 9px 9px 15px #888;
	padding: 10px;
	width: 40%;
	float: left;
	min-height: 90px;
	min-width: 90px;
	background-color: white;
	margin: 12px 3%;
	border: 1px solid gray;
  overflow:hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.provider:hover,
.shadow_highlight {                            
     box-shadow: 10px 10px 8px #455660 !important;
    -moz-box-shadow: 10px 10px 8px #455660 !important;
    -webkit-box-shadow: 10px 10px 8px #455660 !important;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 8px;
    padding-right: 12px;
}

div.provider .logo {
    float: right;
    max-height: 55px;
    padding-bottom: 4px;
    margin-top: -4px;
    margin-left: 2px;
}

div.provider .logo img {
    border: none; 
    /*max-width: 120px;*/
}
a.entity div.provider {
    text-decoration: none;
    line-height: 10px;
}
a.entity {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer;
}

.recommendations_label {
    
    color: whitesmoke;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10px;
    font-family: Tahoma,Verdana;    
    font-size: 10px;    
}

.idp_hint_wrapper a {
    font-size: 9.5px;
    color: silver !important;
    padding: 3px;
}

.idp_hint_wrapper a:hover {
    color: black !important;
}

#recommended_idps {
    text-align: right;   
    padding-right: 7px;
    margin-top: 4px;
}

a.entity div.provider .title {
    font-size: 15px;
    font-weight: bold;
    line-height: 13px;
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
}

/*  SMALL SCREENS
-------------------------------------------------------------*/
@media screen and (max-width: 450px) {
  div.page-header, div.page-header__content {
    margin:5px 5px;
  }
  h2 {
    font-size:1.5rem;
  }
  div.provider {
    width: 100%;
    min-height:100px;
  }
  div.provider .logo {
    float: none;
    max-height:none;
  }
}  

@media screen and (max-width: 800px) {
  div.provider {
    height:140px;
  }
  div.provider .logo {
    float: none;
    max-height:none;
  }
}  
